* {
    font-family: 'Lato', sans-serif;
    /* border: thin red solid; */
}

body {
    background-color: gainsboro;
}

header {
    min-height: 333px;
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 77px;

    text-transform: uppercase;
    color:deepskyblue;
    font-size: 77px;
    letter-spacing: 42px;

    background-image: url("/static/assets/earthrise.jpg");
    background-position: center;
    background-size: cover;

}

aside > *, .container {
    background-color: azure;
}

header.expanded {
    min-height: 1000px;
}

div.content{
    display: grid;
    grid-template-columns: auto 23%;
}

aside {
    grid-column: 2;
    position: relative;
}

aside > * {
    margin: 13px 13px 13px 0;
}

nav {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 5em;

}

button {
    width: 96%;
    padding: 2%;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;

    color: white;
    background-color: skyblue;
}

button:hover {
    color:navy;
    background-color: aqua;
}

aside > div {

    padding: 10px;

}

aside h2 {
    margin-bottom: 10px;
}

ul {
    padding: 20px;
}

main {
    grid-column: 1;
    grid-row-start: 1;
}


.container {
    display: grid;
    grid-template-columns: 77px 1fr 1fr;
    grid-template-rows: repeat(5, minmax(2em, auto));
    padding: 10px;
    margin: 13px;
}

.container .tools{
    grid-column: 2;
    grid-row: 5;
    display: flex;
    gap: 15px;
}

.container .tools a {
    cursor: pointer;
}

.container h3 {
    grid-column: 2/4;
    grid-row: 2;
}

.container .postUrl {
    grid-column: 2/4;
    grid-row: 3;
    justify-self: start;
    align-self: center;
}

.container time {
    font-family: monospace;
    align-self: center;
    grid-column: 2;
    grid-row: 4;
}

.container .votes{
    grid-column: 1;
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .scoreField{ 
    text-align: center;
    line-height: 1.7;
}

.container .ownerField{
    grid-column: 3;
    grid-row: 4;
    justify-self: end;
    padding-right: 77px;
}

.container img{
    justify-self: center;
    align-self: center;
    height: 1.5em;
    cursor: pointer;
}

.container img:hover{
    border-radius: 25%;
    border: medium navy solid;
}

.container img.up{
    grid-column: 1;
    grid-row: 2;
}

.container img.down{
    grid-column: 1;
    grid-row: 4;

}

/* form elements */

.container #titleLabel {
    grid-column: 1;
    grid-row: 2;
}

.container #urlLabel {
    grid-column: 1;
    grid-row: 3;
}

.container #linkTitle {
    grid-column: 2/4;
    grid-row: 2;
}

.container #linkUrl {
    grid-column: 2/4;
    grid-row: 3;

}

.container button {
    margin: 5px;
}

.container #submitNewPost {
    grid-column: 3;
    grid-row: 4;
}

.container #cancelSubmission {
    grid-column: 3;
    grid-row: 1;
    width: 42px;
    justify-self: end;

}